@page "/appointmentbooked"
@inject NavigationManager _navManager
@using Microsoft.AspNetCore.WebUtilities
@using BlazorStore.Merchant.Paypal

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-info">Order appointment has bin submitted!</h1>
        </div>
        <div class="col-12">
            <img src="https://image.shutterstock.com/image-vector/confirmed-rubber-stamp-260nw-1089804863.jpg" />
        </div>
        <div class="col-12">
            <div class="mt-1 mb-2">We will reach out to you within one buisness day confirm your appointment, and we look forward to helping you with best quality and service at the lowest price!</div>
            <div>If you have any questions feel free to reach out at 000-000-0000</div>
        </div>
    </div>
</div>
@code {
    private Uri uri;
    private static string txVal = string.Empty;
    private PDTHolder pdtHolder;


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            uri = _navManager.ToAbsoluteUri(_navManager.Uri);
            if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("tx", out var txValue))
            {
                txVal = txValue;
            }
            if (!string.IsNullOrWhiteSpace(txVal))
            {
                pdtHolder = PDTHolder.Success(txVal);
            }

        }
    }
}
