@page "/category"

@inject IRepositoryCategory _db

<div class="component-title row justify-content-between align-items-center">
    <div class="col-6">
        <h1 class="text-info">Category List</h1>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-info">Add New Category</button>
    </div>
</div>

@if (categories == null)
{

    <div class="row">
        <div class="col text-center"> <img height="200" src="https://cdn.dribbble.com/users/108183/screenshots/5331825/loading_xxi.gif" /></div>
    </div>

}
else if (categories.Count > 0)
{
    <div class="row table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in categories)
                {
                    <tr>
                        <td>@item.Name</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-primary">Edit</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="row">
        <div class="col text-center"> <img height="200" src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=800x600" /></div>
    </div>
}

@code {
    List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        categories = await _db.GetAllCategoriesAsync();
    }
}
