@inject ProtectedLocalStorage _cartStorage

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorStore</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="category">
                <span class="oi oi-list" aria-hidden="true"></span> Category
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="goodsMarker">
                <span class="oi oi-list" aria-hidden="true"></span> Goods Marker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span class="oi oi-list" aria-hidden="true"></span> Products
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="appointmentlist">
                <span class="oi oi-list" aria-hidden="true"></span> Заказы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-list" aria-hidden="true"></span> Регистрация
            </NavLink>
        </li>
    </ul>
    <div class="text-white">ShopingCartCount: @test</div>
</div>

@code {
    private bool collapseNavMenu = true;
    int productCount = 0;
    List<int> shopingCardList = new();
    string test;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        test = await _cartStorage.GetFromSession<string>(StaticData.SessionKey);
        // shopingCardList = await _cartStorage.GetFromSession<List<int>>(StaticData.SessionKey);
        if (shopingCardList is not null)
            productCount = shopingCardList.Count;
        StateHasChanged();

    }

}
