
<div class="container p-2 border rounded">
    <div class="row"> <div class="col"><h1 class="text-info">User Detail</h1></div></div>
    <div class="row  form-group">
        <div class="col-3">UserName</div>
        <div class="col-5">@IdentityUser.UserName</div>
    </div>
    <div class="row  form-group">
        <div class="col-3">Email</div>
        <div class="col-5">@IdentityUser.Email</div>
    </div>
    <div class="row  form-group">
        <div class="col-3">EmailConfirmed</div>
        <div class="col-5">@(IdentityUser.EmailConfirmed ? "Yes" : "No")</div>
    </div>
    <div class="row  form-group">
        <div class="col-3">Roles</div>
        @*<select>
            @foreach (var item in collection)
            {
                <option></option>
            }
        </select>*@
    </div>
</div>

@code {
    [Parameter] public IdentityUser IdentityUser { get; set; }


}
